* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #333333;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Google Sans", sans-serif;
  font-size: 20px;
  color: #161616;
}

#root {
  width: 70%;
}

.app {
  width: 100%;
}

.table {
  /* display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 5px; */
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5px;
}

.table__row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  column-gap: 5px;
  opacity: 1;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.table__row:hover:not(:first-child) {
  opacity: 0.8;
}

.table__row:first-child {
  position: sticky;
  top: 0;
  z-index: 10;
}

.table__cell {
  padding: 15px;
}

.table__indicator,
.table__yesterday,
.table__weekday {
  background: #d3d3d3;
}

.table__today {
  background: #87ceeb;
}

.bg__green {
  background: #8fbc8f;
}

.bg__red {
  background: #fa8072;
}

.table__today,
.table__yesterday,
.table__weekday {
  text-align: right;
}

.cell__center {
  text-align: center;
}

.percentage__difference {
  margin-left: 40px;
}

.text__green {
  color: green;
}

.text__red {
  color: red;
}

.chart-container {
  grid-column: 1 / -1; /* Это заставит его растянуться на все колонки грида */
  background: #f5fffa; /* Можно чуть выделить цветом */
  padding: 20px;
}

@media (max-width: 1024px) {
  body {
    font-size: 10px;
  }
  #root {
    width: 90%;
  }
  .table {
    row-gap: 1px;
  }
  .table__row {
    column-gap: 1px;
  }
  .table__cell {
    padding: 10px;
  }
}

@media (max-width: 655px) {
  .table-wrapper {
    width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  /* .table {
    overflow-x: scroll;
  } */
  .table__cell {
    padding: 10px 5px;
    /* white-space: nowrap; */
  }
  .percentage__difference {
    margin-left: 10px;
  }
}

@media (max-width: 425px) {
  .table__row {
    /* grid-template-columns: 200px repeat(3, 86px); */
    grid-template-columns: 120px repeat(3, 86px);
  }
  .table__row .table__indicator {
    position: sticky;
    left: 0;
  }
}

/* .table-wrapper {
  width: 100%;
  overflow-x: auto;
  /* -webkit-overflow-scrolling: touch; */
/* } */
/* .table { *
  min-width: 600px; 
/* } 

/* @media (max-width: 425px) {
  .table {
    /* 
       Первая колонка (название) — минимум 120px, остальное — сколько останется.
       Остальные колонки — строго по 80px (или сколько нужно вашим числам), чтобы они не сжимались.
    */
/*grid-template-columns: minmax(120px, 2fr) repeat(3, 80px);

    /* Это заставит грид быть шире экрана, если колонки не влезают */
/*width: max-content;
  }
} */
